@media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      gap: 10px;
    }
    .logo img {
      width: 50px;
    }
    ul {
      font-size: 15px;
    }
    .button {
      font-size: 5px;
    }
    div.cover {
      height: 300px;
    }
    .text-img {
      flex-direction: column;
    }
    .left-text {
      width: 100%;
      padding-top: 20px;
    }
    .right-text {
      width: 100%;
      height: 100px;
    }
    .flex-card {
      flex-direction: column;
      align-items: center;
    }
    .card {
      /* width: 100%; */
      flex-direction: column;
    }
  }
  
  